language: pebblec
sudo: false
before_install:
    - npm install -g jshint uglifyjs
before_script: bash pBuild/before_install.sh
script: bash pBuild/build.sh
cache:
  directories:
    - $HOME/pebble-dev
    - $HOME/.cache/pip
addons:
  apt:
    packages:
    - python2.7-dev
    - python-pip
    - python-virtualenv
